<div class="shop-header page_margin">	
  <a href="{% include 'main_page_banner_url' %}" class="shop-header__bg">
     <img src="{{ 'shopbg.jpg' | asset_url }}" class="img1" />
    <img src="{{ 'shopbg-mid.jpg' | asset_url }}" class="img2" />
    <img src="{{ 'shopbg-mob.jpg' | asset_url }}" class="img3" /> 
  </a>
</div>