<div id="page" class="page_margin">
<div class="wrapper">
		<section class="shop">
			<div class="wrap">
				<h1 class="title">Промокоды IMBA ENERGY</h1>
			</div>
			<div class="wrap">
				<div class="column-left">
					<div class="switch">
						<a class="switch-item active" href="#" id="switch-item-all">все</a> <a class="switch-item" href="#" id="switch-item-promo">промокоды <sup>2</sup></a> <a class="switch-item" href="#" id="switch-item-share">скидки <sup>4</sup></a>
					</div>					
					<div class="coupon-list coupon-list--main">
						<a class="coupon4 share js-open-modal coupon4--main coupon4--coupons coupon" data-cashback-type="percent" data-href-1="/promokod/site/rd/250014/1392/1/" data-href-2="/promokod/site/rd/250014/1392/2/" data-id="250014" data-kod="RFKQWRPQ" data-link="" data-max-cashback="60" data-modal-id="#js-modal" data-one_time_code="false" data-shop-domain="imba.shop" data-title="Скидка 13% на любой заказ!" href="#">
						<div class="row row--cupon">
							<div class="coupon4-left">
								<span>13%</span>
							</div>
							<div class="coupon4-center">
								<div class="coupon4-wrap-type row2">
									<span class="coupon4-type">промокоды</span> <span class="coupon4-discount coupon4-discount--desktop"></span>
								</div><!-- /.coupon4-wrap-type -->
								<div class="coupon4-wrap-title">
									<div class="coupon4-title">
										Скидка 13% на любой заказ!
									</div><span class="coupon4-btn-mob"></span>
								</div><!-- /.coupon4-wrap-title -->
								<div class="coupon4-description"></div>
							</div><!-- /.coupon4-center -->
						</div>
						<div class="coupon4-right coupon4-right--desktop">
							<span class="btn btn2">Открыть код <span>dsd32es</span> <svg height="54" viewbox="0 0 34 54" width="34" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.5 17.3898L13.1575 0L33.5 54H27.1712L0.5 17.3898Z" fill="#D36136"></path></svg></span>
							<div class="coupon4-date">
								Истекает: 4 февраля 2023 г.
							</div>
						</div><!-- /.coupon4-right --></a> <a class="coupon4 share js-open-modal coupon4--main coupon4--coupons coupon" data-cashback-type="percent" data-href-1="/promokod/site/rd/207081/1392/1/" data-href-2="/promokod/site/rd/207081/1392/2/" data-id="207081" data-kod="G7JBXLGK" data-link="" data-max-cashback="60" data-modal-id="#js-modal" data-one_time_code="false" data-shop-domain="imba.shop" data-title="Промокод на подарок при заказе от 2790 рублей" href="#">
						<div class="row row--cupon">
							<div class="coupon4-left">
								<span>%</span>
							</div>
							<div class="coupon4-center">
								<div class="coupon4-wrap-type row2">
									<span class="coupon4-type">промокоды</span> <span class="coupon4-discount coupon4-discount--desktop"></span>
								</div><!-- /.coupon4-wrap-type -->
								<div class="coupon4-wrap-title">
									<div class="coupon4-title">
										Промокод на подарок при заказе от 2790 рублей
									</div><span class="coupon4-btn-mob"></span>
								</div><!-- /.coupon4-wrap-title -->
								<div class="coupon4-description"></div>
							</div><!-- /.coupon4-center -->
						</div>
						<div class="coupon4-right coupon4-right--desktop">
							<span class="btn btn2">Открыть код <span>dsd32es</span> <svg height="54" viewbox="0 0 34 54" width="34" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.5 17.3898L13.1575 0L33.5 54H27.1712L0.5 17.3898Z" fill="#D36136"></path></svg></span>
							<div class="coupon4-date">
								Работает!
							</div>
						</div><!-- /.coupon4-right --></a> <!--End Promocodes-->
						 <!--Campaigns(акции магазина)-->
						 <a class="coupon4 share js-open-modal coupon4--main coupon4--discounts" data-cashback-type="percent" data-href-1="/promokod/site/rd/190876/1392/1/" data-href-2="/promokod/site/rd/190876/1392/2/" data-id="190876" data-kod="" data-link="" data-max-cashback="60" data-modal-id="#js-modal" data-shop-domain="imba.shop" data-title="Скидка до 50% по программе лояльности" href="#">
						<div class="row row--cupon">
							<div class="coupon4-left">
								<span>50%</span>
							</div>
							<div class="coupon4-center">
								<div class="coupon4-wrap-type row2">
									<span class="coupon4-type">акции</span> <span class="coupon4-discount coupon4-discount--desktop">Лучшее предложение</span>
								</div><!-- /.coupon4-wrap-type -->
								<div class="coupon4-wrap-title">
									<h3 class="coupon4-title">Скидка до 50% по программе лояльности</h3><span class="coupon4-btn-mob"></span>
								</div><!-- /.coupon4-wrap-title -->
								<div class="coupon4-description"></div>
							</div><!-- /.coupon4-center -->
						</div>
						<div class="coupon4-right coupon4-right--desktop">
							<span class="btn btn4 coupon4-btn">Открыть акцию</span>
							<div class="coupon4-date">
								Работает!
							</div>
						</div><!-- /.coupon4-right --></a> <a class="coupon4 share js-open-modal coupon4--main coupon4--discounts" data-cashback-type="percent" data-href-1="/promokod/site/rd/167094/1392/1/" data-href-2="/promokod/site/rd/167094/1392/2/" data-id="167094" data-kod="" data-link="https://www.cashbe.ru/?utm_source=pickpoint&amp;utm_medium=authbutton&amp;utm_campaign=shop&amp;utm_content=IMBA ENERGY" data-max-cashback="60" data-modal-id="#js-modal" data-shop-domain="imba.shop" data-title="Собери свое комбо со скидкой 18%" href="#">
						<div class="row row--cupon">
							<div class="coupon4-left">
								<span>18%</span>
							</div>
							<div class="coupon4-center">
								<div class="coupon4-wrap-type row2">
									<span class="coupon4-type">акции</span> <span class="coupon4-discount coupon4-discount--desktop">Лучшее предложение</span>
								</div><!-- /.coupon4-wrap-type -->
								<div class="coupon4-wrap-title">
									<h3 class="coupon4-title">Собери свое комбо со скидкой 18%</h3><span class="coupon4-btn-mob"></span>
								</div><!-- /.coupon4-wrap-title -->
								<div class="coupon4-description"></div>
							</div><!-- /.coupon4-center -->
						</div>
						<div class="coupon4-right coupon4-right--desktop">
							<span class="btn btn4 coupon4-btn">Открыть акцию</span>
							<div class="coupon4-date">
								Работает!
							</div>
						</div><!-- /.coupon4-right --></a> <a class="coupon4 share js-open-modal coupon4--main coupon4--discounts" data-cashback-type="percent" data-href-1="/promokod/site/rd/167095/1392/1/" data-href-2="/promokod/site/rd/167095/1392/2/" data-id="167095" data-kod="" data-link="https://www.cashbe.ru/?utm_source=pickpoint&amp;utm_medium=authbutton&amp;utm_campaign=shop&amp;utm_content=IMBA ENERGY" data-max-cashback="60" data-modal-id="#js-modal" data-shop-domain="imba.shop" data-title="Бесплатная доставка при заказе от 2900 рублей" href="#">
						<div class="row row--cupon">
							<div class="coupon4-left">
								<span>%</span>
							</div>
							<div class="coupon4-center">
								<div class="coupon4-wrap-type row2">
									<span class="coupon4-type">акции</span> <span class="coupon4-discount coupon4-discount--desktop">Лучшее предложение</span>
								</div><!-- /.coupon4-wrap-type -->
								<div class="coupon4-wrap-title">
									<h3 class="coupon4-title">Бесплатная доставка при заказе от 2900 рублей</h3><span class="coupon4-btn-mob"></span>
								</div><!-- /.coupon4-wrap-title -->
								<div class="coupon4-description"></div>
							</div><!-- /.coupon4-center -->
						</div>
						<div class="coupon4-right coupon4-right--desktop">
							<span class="btn btn4 coupon4-btn">Открыть акцию</span>
							<div class="coupon4-date">
								Работает!
							</div>
						</div><!-- /.coupon4-right --></a> <a class="coupon4 share js-open-modal coupon4--main coupon4--discounts" data-cashback-type="percent" data-href-1="/promokod/site/rd/190878/1392/1/" data-href-2="/promokod/site/rd/190878/1392/2/" data-id="190878" data-kod="" data-link="https://www.cashbe.ru/?utm_source=pickpoint&amp;utm_medium=authbutton&amp;utm_campaign=shop&amp;utm_content=IMBA ENERGY" data-max-cashback="60" data-modal-id="#js-modal" data-shop-domain="imba.shop" data-title="Блог о культуре потребления энергетических напитков" href="#">
						<div class="row row--cupon">
							<div class="coupon4-left">
								<span>%</span>
							</div>
							<div class="coupon4-center">
								<div class="coupon4-wrap-type row2">
									<span class="coupon4-type">акции</span> <span class="coupon4-discount coupon4-discount--desktop">Лучшее предложение</span>
								</div><!-- /.coupon4-wrap-type -->
								<div class="coupon4-wrap-title">
									<h3 class="coupon4-title">Блог о культуре потребления энергетических напитков</h3><span class="coupon4-btn-mob"></span>
								</div><!-- /.coupon4-wrap-title -->
								<div class="coupon4-description"></div>
							</div><!-- /.coupon4-center -->
						</div>
						<div class="coupon4-right coupon4-right--desktop">
							<span class="btn btn4 coupon4-btn">Открыть акцию</span>
							<div class="coupon4-date">
								Работает!
							</div>
						</div><!-- /.coupon4-right --></a>
					</div><!-- /.coupon-list -->
					<!--End Campaigns-->
				</div><!-- /.column-left -->
				<div class="sidebar">
					<div class="sidebar-head">
						<img alt="IMBA ENERGY" class="shops-item-img" src="{{'logo.jpg' | asset_url}}">
						<div class="shop-rating row2">
							<div class="shop-rating-text row">
								<span>Рейтинг:</span> <span>5</span>
							</div>
							<div class="stars row" data-stars="5.5">
								<svg class="star star1" data-rating="1" height="22" viewbox="-9 0 20 20" width="22">
								<path d="M10.53 16.081l6.5 3.926-1.72-7.4 5.74-4.98-7.56-.65-2.96-6.981-2.96 6.981-7.56.65 5.74 4.98-1.72 7.4z" style="fill-rule:nonzero;"></path></svg> <svg class="star star1-2" data-rating="1.5" height="22" viewbox="10 0 20 20" width="22">
								<path d="M10.53 16.081l6.5 3.926-1.72-7.4 5.74-4.98-7.56-.65-2.96-6.981-2.96 6.981-7.56.65 5.74 4.98-1.72 7.4z" style="fill-rule:nonzero;"></path></svg> <svg class="star star2" data-rating="2" height="22" viewbox="-9 0 20 20" width="22">
								<path d="M10.53 16.081l6.5 3.926-1.72-7.4 5.74-4.98-7.56-.65-2.96-6.981-2.96 6.981-7.56.65 5.74 4.98-1.72 7.4z" style="fill-rule:nonzero;"></path></svg> <svg class="star star2-2" data-rating="2.5" height="22" viewbox="10 0 20 20" width="22">
								<path d="M10.53 16.081l6.5 3.926-1.72-7.4 5.74-4.98-7.56-.65-2.96-6.981-2.96 6.981-7.56.65 5.74 4.98-1.72 7.4z" style="fill-rule:nonzero;"></path></svg> <svg class="star star3" data-rating="3" height="22" viewbox="-9 0 20 20" width="22">
								<path d="M10.53 16.081l6.5 3.926-1.72-7.4 5.74-4.98-7.56-.65-2.96-6.981-2.96 6.981-7.56.65 5.74 4.98-1.72 7.4z" style="fill-rule:nonzero;"></path></svg> <svg class="star star3-2" data-rating="3.5" height="22" viewbox="10 0 20 20" width="22">
								<path d="M10.53 16.081l6.5 3.926-1.72-7.4 5.74-4.98-7.56-.65-2.96-6.981-2.96 6.981-7.56.65 5.74 4.98-1.72 7.4z" style="fill-rule:nonzero;"></path></svg> <svg class="star star4" data-rating="4" height="22" viewbox="-9 0 20 20" width="22">
								<path d="M10.53 16.081l6.5 3.926-1.72-7.4 5.74-4.98-7.56-.65-2.96-6.981-2.96 6.981-7.56.65 5.74 4.98-1.72 7.4z" style="fill-rule:nonzero;"></path></svg> <svg class="star star4-2" data-rating="4.5" height="22" viewbox="10 0 20 20" width="22">
								<path d="M10.53 16.081l6.5 3.926-1.72-7.4 5.74-4.98-7.56-.65-2.96-6.981-2.96 6.981-7.56.65 5.74 4.98-1.72 7.4z" style="fill-rule:nonzero;"></path></svg> <svg class="star star5" data-rating="5" height="22" viewbox="-9 0 20 20" width="22">
								<path d="M10.53 16.081l6.5 3.926-1.72-7.4 5.74-4.98-7.56-.65-2.96-6.981-2.96 6.981-7.56.65 5.74 4.98-1.72 7.4z" style="fill-rule:nonzero;"></path></svg> <svg class="star star5-2" data-rating="5.5" height="22" viewbox="10 0 20 20" width="22">
								<path d="M10.53 16.081l6.5 3.926-1.72-7.4 5.74-4.98-7.56-.65-2.96-6.981-2.96 6.981-7.56.65 5.74 4.98-1.72 7.4z" style="fill-rule:nonzero;"></path></svg>
							</div>
						</div><!-- /.shop-rating -->
					</div><!-- /.sidebar-head -->
					<div class="shop-about">
						<p></p>
						<p>Онлайн-магазин Имба Шоп занимается продажей энергетических напитков для киберспортсменов. Предлагаемый продукт не содержит в своём составе сахар. В нём присутствуют только натуральные компоненты природного происхождения. Для неоспоримого лидерства в мире разнообразных компьютерных игр любой желающий может воспользоваться специальным промокодом IMBA ENERGY и приобрести энергетические напитки с выгодной приятной скидкой. Также в большом представленном каталоге есть специальные шейкеры, разнообразные фирменные аксессуары для игроков и удобные защитные маски.</p>
						<p></p>
					</div><!-- /.shop-about -->
				</div><!-- /.sidebar -->
			</div><!-- /.wrap -->
		</section><!-- /.shop-->
		<div class="fs-box bounceOutDown" id="js-modal" style="display: none;">
			<section>
				<div class="modal js-modal">
					<a class="modal-close js-close" data-modal-id="#js-modal" href="#"><svg height="30" viewbox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
					<rect height="0.83189" transform="rotate(45 0.588135 0)" width="41.5945" x="0.588135"></rect>
					<rect height="0.83189" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 0.588135 30)" width="41.5945"></rect></svg></a> <!-- /.modal-close -->
					<div class="modal-body">
						<div class="modal-title">
							Собери свое комбо со скидкой 18%
						</div>
						<p class="modal-description"></p><button class="modal-description-more" data-text-hidden="Скрыть" data-text-start="Читать далее">Читать далее</button>
						<div class="input-label">
							Скопируйте и вставтье этот код на imba.shop
						</div>
						<div class="modal-form row">
							<div class="input-field input-field--visible">
								Не требуется
							</div><span class="btn btn3 copy">Копировать</span>
						</div>
					</div>
				</div>
			</section>
		</div><!-- /#js-modal -->
	</div>
</div>