<div class="contacts page_margin">
	<div class="wrapper">
		<h1>Контакты Imba Energy</h1>
		<table class="contacts__table">
			<tr>
				<td>Телефон:</td>
				<td aria-label="Телефон:"><a href="tel:{{ account.phone }}">{{ account.phone }}</a></td>
			</tr>
			<tr>
				<td>Почта:</td>
				<td aria-label="Почта:"><a href="mailto:info@imba.shop">info@imba.shop</a></td>
			</tr>
			<tr>
				<td>Адрес:</td>
				<td aria-label="Адрес:">010000 Республика Казахстан, г. Нур-Султан, ул. Умай-Ана, 14, оф 98.</td>
			</tr>
		</table>
		<div class="contacts__subheader">Если у вас есть вопросы по продукции</div>
		<p class="bold">Напишите нам в чат, который находится в правом углу сайта</p>
		<p>Или свяжитесь любым удобным способом: </p>
		<table class="contacts__table">
			<tr>
				<td>Тг:</td>
				<td aria-label="Тг:"><a href="https://t.me/+g9WQM9l3pCBmOTVi" target="_blank">https://t.me/+g9WQM9l3pCBmOTVi</a></td>
			</tr>
			<tr>
				<td>Вк:</td>
				<td aria-label="Вк:"><a href="https://vk.com/imba_energy" target="_blank">https://vk.com/imba_energy</a></td>
			</tr>
			<tr>
				<td>Почта:  </td>
				<td aria-label="Почта:"><a href="mailto:info@imba.shop">info@imba.shop</a></td>
			</tr>
		</table>
		<div class="contacts__subheader">Если у вас есть вопросы по сотрудничеству</div>
		<table class="contacts__table">
			<tr>
				<td>Почта:  </td>
				<td aria-label="Почта:"><a href="mailto:info@imba.shop">info@imba.shop</a></td>
			</tr>
		</table>	
		<div class="contacts__subheader">Реквизиты</div>
		<div class="contacts__info-line">
			<div>Полное наименование организации:</div>
			<div>Индивидуальный предприниматель «Театр Моды» Блохина Н.А.</div>
		</div>
		<div class="contacts__info-line">
			<div>ИНН:</div>
			<div>800907401607</div>
		</div>
		<div class="contacts__info-line">
			<div>Юридический адрес:</div>
			<div>010000 Республика Казахстан, г. Нур-Султан, ул. Умай-Ана, 14, оф 98.</div>
		</div>
	</div>
</div>
