<div class="faq-block page_margin">
	<div class="wrapper">
		<div class="faq-block__header">
			Ф.А.К по imba Energy
		</div>
		<div class="faq-block__subheader">
			О продукте
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question active">
				IMBA точно действует?
			</div>
			<div class="faq-block__answer" style="display: block;">
				IMBA - это специально разработанный комплекс эффективных тонизирующих ингредиентов, который даст Вам мощный заряд энергии в самые напряженные моменты игры. IMBA поможет не только справиться с тяжелым днем, но и отлично провести время за геймплеем, сохраняя концентрацию даже после 8 часов непрерывной игры.
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Какой состав у IMBA?
			</div>
			<div class="faq-block__answer">
				Состав: мальтодекстрин, регуляторы кислотности лимонная кислота и натрия гидрокарбонат, таурин, кофеин, ароматизаторы (в зависимости от вкуса), N-ацетил-L-тирозин, подсластитель сукралоза, L-теанин, витамин С (аскорбиновая кислота), экстракт плодов гуараны, экстракт корня женьшеня, витамин Б3, краситель тартразин, витамин Б6, витамин Б12.<br>
				Состав биологически активных веществ на 1 порцию (9 грамм)<br>
				- Таурин - 1000 мг.<br>
				- Кофеин - 125 мг.<br>
				- Витамин С - 60 мг.<br>
				- Витамин Б3 - 18 мг.<br>
				- Витамин Б6 - 2 мг.<br>
				- Витамин Б12 - 0.9 мг.
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Можно ли употреблять IMBA ENERGY диабетикам?
			</div>
			<div class="faq-block__answer">
				Основной компонент Imba - это мальтодекстрин. Мальтодекстрин не запрещён для употребления диабетиками, им необходимо соблюдать дневную норму хлебных единиц (ХЭ), установленную врачом. 10 г мальтодекстрина - это 1 ХЭ, в 1 порции имбы от 3.62 до 3.66 гр мальтодекстрина в зависимости от вкуса, то есть максимум 0.36 ХЭ. Суточня норма употребления Имбы указана на сайте.
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				IMBA имеет все сертификаты?
			</div>
			<div class="faq-block__answer">
				Безусловно. Энергетический напиток IMBA имеет все необходимые сертификаты качества и разрешен к употреблению и продаже в России, Казахстане, Республике Беларусь, Армении и Киргизии. С копиями сертификата Вы можете ознакомиться ниже.
				<div class="faq-block__text-cont">
					<a class="faq-block__text" href="https://static.insales-cdn.com/files/1/1260/20899052/original/new-sertif.jpg"  data-lightbox="sert1"><img  src="https://static.insales-cdn.com/files/1/1260/20899052/original/new-sertif.jpg"></a>
					
					<a class="faq-block__text" href="https://static.insales-cdn.com/files/1/1261/20899053/original/tropic-sertif.jpg"  data-lightbox="sert2"><img  src="https://static.insales-cdn.com/files/1/1261/20899053/original/tropic-sertif.jpg"></a>
					<a class="faq-block__text" href="https://static.insales-cdn.com/files/1/1262/20899054/original/ДС-IMMUNO.png"  data-lightbox="sert3"><img  src="https://static.insales-cdn.com/files/1/1262/20899054/original/ДС-IMMUNO.png"></a>
					<a class="faq-block__text" href="https://static.insales-cdn.com/files/1/1267/20899059/original/ДС-IMBA-vitamins_minerals-_3_.png"  data-lightbox="sert4"><img  src="https://static.insales-cdn.com/files/1/1267/20899059/original/ДС-IMBA-vitamins_minerals-_3_.png"></a>
					<a class="faq-block__text" href="https://static.insales-cdn.com/files/1/1270/20899062/original/shaker-sertif.jpg"  data-lightbox="sert5"><img  src="https://static.insales-cdn.com/files/1/1270/20899062/original/shaker-sertif.jpg"></a>
					<a class="faq-block__text" href="https://static.insales-cdn.com/files/1/6197/20903989/original/concentrat.jpg"  data-lightbox="sert6"><img  src="https://static.insales-cdn.com/files/1/6197/20903989/original/concentrat.jpg"></a>
					<a class="faq-block__text" href="https://static.insales-cdn.com/files/1/6222/20904014/original/detstvo.jpg"  data-lightbox="sert7"><img  src="https://static.insales-cdn.com/files/1/6222/20904014/original/detstvo.jpg"></a>
					<a class="faq-block__text" href="https://static.insales-cdn.com/files/1/6247/20904039/original/old.jpg"  data-lightbox="sert8"><img  src="https://static.insales-cdn.com/files/1/6247/20904039/original/old.jpg"></a>
					<a class="faq-block__text" href="https://static.insales-cdn.com/files/1/7369/21929161/original/sertif8.jpg"  data-lightbox="sert9"><img  src="https://static.insales-cdn.com/files/1/7369/21929161/original/sertif8.jpg"></a>
				</div>
			</div>
		</div>
		<div class="faq-block__subheader">
			Доставка
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Доставка платная?
			</div>
			<div class="faq-block__answer">
              При заказе от <span class="freeprice">14000</span> тнг. и онлайн оплате, доставка бесплатная. В остальных случаях стоимость доставки составляет 1440 тнг.
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Какими службами производится доставка?
			</div>
			<div class="faq-block__answer">
				Все заказы доставляются почтовой службой &ldquo;Казпочта&rdquo;. Подробнее:<a href="https://kz.imba.shop/page/dostavka-i-oplata" rel="noopener" target="_blank">https://kz.imba.shop/page/dostavka-i-oplata</a>
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Возможен ли самовывоз?
			</div>
			<div class="faq-block__answer">
				В настоящее время самовывоз не возможен
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Сроки доставки
			</div>
			<div class="faq-block__answer">
				<p>Сроки доставки зависят от удаленность Нур-Султана. Сроки доставки могут меняться в зависимости от загруженности курьерских служб. В случае возникновения сложностей с доставкой мы всегда готовы помочь.</p>
				<p>Нур-Султан: 1-2 дня</p>
				<p>Актобе: 6-8 дней</p>
				<p>Актау: 6-8 дней</p>
				<p>Алматы: 5-6 дней</p>
				<p>Атырау: 7-9 дней</p>
				<p>Караганда: 4-5 дней</p>
				<p>Кызылорда: 5-7 дней</p>
				<p>Костанай: 5-6 дней</p>
				<p>Павлодар: 5-6 дней</p>
				<p>Петропавловск: 4-6 дней</p>
				<p>Тараз: 5-7 дней</p>
				<p>Усть-Каменогорск: 6-8 дней</p>
				<p>Уральск: 6-8 дней</p>
				<p>Шымкент: 5-7 дней</p>
				<p>Кокшетау: 4-5 дней</p>
				<p>Талдыкорган: 5-6 дней</p>*не включая выходные дни.
			</div>
		</div>
		<div class="faq-block__subheader">
			Заказ
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				В течении какого времени осуществляется отправка заказа?
			</div>
			<div class="faq-block__answer">
				<p>Заказы для почтовой службой &ldquo;Казпочта&rdquo; передаются через день.</p>Заказы, оформленные в выходные дни, передаются в первый рабочий день.
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Как отслеживать заказ?
			</div>
			<div class="faq-block__answer">
				<p>Зайдите на сайт <a href="https://post.kz" rel="noopener" target="_blank">&ldquo;Казпочта&rdquo;</a> и выберите "отследить посылку". Далее введите ваш трек номер (№ заказа), который пришёл в смс.</p>P.S. отслеживание трек-номера будет доступно не сразу, а в течение 2-х дней с момента заказа.
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Что делать если трек номер не отслеживается?
			</div>
			<div class="faq-block__answer">
				<p>Отслеживание трек-номера будет доступно не сразу, а в течение 2-х дней с момента заказа.</p>
				<p>Если после этого вы все равно не можете отследить трек, пришлите, пожалуйста, номер вашего заказа в нашу службу поддержки на сайте (значок мессенджера в правом нижнем углу) или в лс нашей группы вк (<a href="https://vk.com/imba_energy" rel="noopener" target="_blank">https://vk.com/imba_energy</a>), чтобы мы смогли отследить его для вас.</p>
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Как узнать на каком этапе доставки заказ?
			</div>
			<div class="faq-block__answer">
				Отслеживать заказ вы можете по трек номеру (№ заказа). Зайдите на сайт <a href="https://post.kz" rel="noopener" target="_blank">&ldquo;Казпочта&rdquo;</a> и выберите "отследить посылку". Далее введите ваш трек номер (№ заказа), который пришёл в смс.
			</div>
		</div>
		<div class="faq-block__subheader">
			Оплата
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Как происходит оплата заказа?
			</div>
			<div class="faq-block__answer">
				Оплатить онлайн можно с карты платежных систем Visa, Mastercard. На данный момент нет возможности заказать наложенным платежом, только онлайн оплата.
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Можно ли платить Qiwi, или другими кошельками?
			</div>
			<div class="faq-block__answer">
				Такой возможности нет, оплатить онлайн можно только с карты платежных систем Visa. Mastercard.
			</div>
		</div>
		<div class="faq-block__subheader">
			Остальное
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Как быть, если мне попался бракованный шейкер?
			</div>
			<div class="faq-block__answer">
				Если после получения шейкера Вы заметили, что с логотипа слезает или смывается краска, на корпусе есть трещины, сильные повреждения -- напишите об этом нам, и мы пришлем Вам новый шейкер!<br>
				<br>
				<strong>ВАЖНО!</strong><br>
				<br>
				<ul>
					<li>Вам необходимо предоставить видеозапись, на которой отчетливо виден брак.</li>
					<li>Замена шейкера возможна в течение 14-ти календарных дней.<br>
					<br>
					<strong>Обмен шейкера не производится, если нет видеофиксации!</strong></li>
				</ul>
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Как быть, если в моей посылке не хватает товара?
			</div>
			<div class="faq-block__answer">
				Если при получении посылки Вы вскрыли коробку и обнаружили, что в ней недостаёт тех или иных товаров, которые Вы заказывали, -- напишите об этом нам, и мы решим проблему!<br>
				<br>
				<strong>ВАЖНО!</strong> Вам необходимо предоставить фотографии:<br>
				<br>
				1. Транспортировочной коробки;<br>
				2. Как в коробке находились товары при получении;<br>
				3. Внутренней обертки.<br>
				<br>
				Должно быть минимум четыре фотографии хорошего качества.<br>
				<br>
				<strong>Отправление недостающей продукции не производится, если нет фотофиксации!</strong>
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				Как отписаться от смс-рассылки?
			</div>
			<div class="faq-block__answer">
				Для того, чтобы отписаться от смс-рассылки нажмите <span class="unsubscribe-popup-trigger"><u>здесь.</u></span>
			</div>
		</div>
		<div class="faq-block__item">
			<div class="faq-block__question">
				С кем я могу поговорить по поводу сотрудничества?
			</div>
			<div class="faq-block__answer">
				По вопросам сотрудничества пишите нам на почту <a href="mailto:partners@imba.shop">partners@imba.shop</a>
			</div>
		</div>
	</div>
</div>