<div class="search-page page_margin">
	<div class="wrapper">
	{% comment %}
	<div class="search-results-toolbar toolbar at-top">
	  <div class="toolbar-inner">
		<div class="search-widget-wrapper flex-end">
		  {% include "search_widget" %}
		</div>
	  </div>
	</div>
	{% endcomment %}
	<ul class="breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li>Поиск</li>
	</ul>
	<h1>Поиск</h1>
	{% if search.performed? %}	
		{% if  search.results == empty %}			
			{% include "search_widget" %}	
			<div class="search__centered_text">Нет товаров, которые соответствуют критериям поиска. </div>
			<a href="/" class="search__centered_link">Перейти на главную</a>
		{% else %}			
			{% include "search_widget" %}
		{% endif %}
		{% else %}				
			{% include "search_widget" %}	
			<div class="search__centered_text">Нет товаров, которые соответствуют критериям поиска. </div>
			<a href="/" class="search__centered_link">Перейти на главную</a>
	   {% endif %}
	   	<div class="collection__container">
		{% paginate search.results by 12 %}
			{% include "search_results" %}
			{% if paginate.parts.size > 0 %}
			<div class="search-results-toolbar">      
				{% include "pagination" %}     
			</div>
			{% endif %}
		{% endpaginate %}
		</div>
	</div>
</div>
